[project]
	description = Trying out WebRtc + javascript
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/michaelfakhri
[access "refs/for/refs/*"]
	read = group user/michaelfakhri
	push = group user/michaelfakhri
	label-Code-Review = -2..+2 group user/michaelfakhri
	label-Verified = -1..+1 group user/michaelfakhri
	rebase = group user/michaelfakhri
	removeReviewer = group user/michaelfakhri
	submit = group user/michaelfakhri
[access "refs/heads/*"]
	read = group user/michaelfakhri
	create = group user/michaelfakhri
	push = +force group user/michaelfakhri
	pushMerge = group user/michaelfakhri
[access "refs/tags/*"]
	push = +force group user/michaelfakhri
	pushTag = group user/michaelfakhri
	pushSignedTag = group user/michaelfakhri
